name = "Course Project"
version = "0.1.0"
debug = true
db_uri = "oracle://scott:tiger@localhost:1521/XE"
db_prefix = "course"
password_salt = "pasword_salt"
# fucking oracle
oracle_lib_dir = "/Users/username/Downloads/instantclient_19_8"
# openssl rand -hex -32
jwt_secret_key = "e9a8074a787eec43a13216ec240941542b504521a4dfee221f5fa52737bee3c3"
jwt_algorithm = "HS256"
jwt_expire_seconds = 3600
